<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windowcleaner Society</title>

    <link rel="shortcut icon" href='{{"/assets/favicon.ico" | url }}'>
    <meta name="theme-color" content="#fcf8d3">
    <link rel="stylesheet" href=" {{'/css/style.css' | url}}">

</head>

<body class='{{class}}'>
    <img src="/assets/logo.png" alt="" class="site-logo">
    <header class="site-header" markdown="">
        {% include intro %}
    </header>
    {{ content | safe }}
    <footer class="site-footer">
        <nav class="footer-nav-primary">
            <a href='/'>Home</a>
            <a href='/references/'>References</a>
            <a href='/writing/'>Writing</a>
            <a href='/events/'>Events</a>
        </nav>
        <nav class="footer-nav-secondary">
            <a href='/references/'>Instagram</a>
            <a href='/writing/'>Email Newsletter</a>
        </nav>
    </footer>
    <script src="{{'/dist/main.js' | url}}"></script>
</body>

</html>