---
layout: base
---

{% assign dateFormat = "%B %d %Y, %H:%M"%}
{% assign df = "%Y%m%dT%H%M00Z"%}

<a class='section-link' href="/events/">Events</a>
<article class="event" data-start="{{event.start}}" data-end="{{event.end}}">
    <header class="post-header">
        {% include event-status %}
        {% if thumb %}
        <img class='post-thumb' src="{{thumb}}" alt="">
        {% endif %}
        <h2 class="post-title">{{title}}</h2>
        <span class="event-date">
            {{event.start | date: dateFormat}}–{{event.end|date:"%H:%M" }}
            <a class='btn' target='_blank'
                href="https://calendar.google.com/calendar/r/eventedit?text={{title | url_encode}}&dates={{event.start | date: df}}/{{event.end | date: df}}&details={{content | url_encode}}">Add
                to Google Calendar</a>
        </span>
        <ul class="post-meta">
            <li>
                {% for tag in tags %}
                {% if tag != "events" %}
                <a href="/tags/{{tag | slug}}/" class='tag'>#{{tag}}</a>
                {% endif %}
                {% endfor %}
            </li>
        </ul>
    </header>
    <main class="post-content">
        {{ content | safe }}
    </main>
    <footer class="post-footnotes">
    </footer>
    <footer class="post-related-posts">
        <h3>Related Articles (<a href="/articles/">View All</a>)</h3>
        <main class="post-list">
            {% for tag in tags %}
            {% assign ps = collections[tag] %}
            {% for post in ps %}
            {% if post.data.tags contains "articles" %}
            {% include post-card with post %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </main>
    </footer>
    <footer class="post-related-references references-container">
        <h3>Related References (<a href="/references/">View All</a>)</h3>
        <table class="references">
            <thead>
                <tr>
                    <th><button class='sort' data-sort='reference-title'>Title</button></th>
                    <th><button class='sort' data-sort='reference-date'>Year</button></th>
                    <th><button class='sort' data-sort='reference-location'>Location</button></th>
                    <th><button class='sort' data-sort='reference-name'>Artist</button></th>
                    <th>Link</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for ref in references %}
                {% for tag in tags %}
                {% if ref.tags contains tag %}
                {% include reference-row with ref %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </footer>
</article>