---
layout: base
---

<article class="post">
    <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
        {% if intro %}
        <p class="post-intro">{{intro}}</p>
        {% endif %}
        <ul class="post-meta">
            <li>
                Words by {% include author with author %}
            </li>
            <li>{{date | date: "%B %d, %Y"}}</li>
            <li>{% for tag in tags %}<a href="/tags/{{tag | slug}}/" class='tag'>#{{tag}}</a>{% endfor %}</li>
        </ul>
    </header>
    <main class="post-content">
        {{ content | safe }}
    </main>
    <footer class="post-footnotes">
        <h2>Notes</h2>
    </footer>
    <footer class="post-related-references">
        <h2>Related References</h2>
        <table class="references">
        <tbody class="list">
            {% for ref in references %}
                {% for tag in tags %}
                {% if ref.tags contains tag %}
                    {% include reference-row with ref %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
        </table>
    </footer>
</article>